::-webkit-scrollbar {
  display: none;
}

body {
  background-image: url("./images/hp_crest.jpg");
  background-size: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  /* remove color if sticking with black */
  color: #000;
}

form {
  margin-left: 22%;
  margin-right: 22%;
}


.round_p {
  font-weight: bold;
  margin-bottom: 0;
}

.number_correct {
  font-weight: normal;
}

.question {
  font-weight: normal;
  margin-bottom: 0;
}

.user_input {
  font-weight: normal;
  font-style: italic;
  margin-bottom: 0;
}

.correct_answer {
  font-weight: normal;
  font-style: italic;
}

.form-control {
  margin-bottom: -30px;
}

/* .header-container {
  background-color: rgba(255, 255, 255, 0.85);
  width: 50%;
  padding: 30px;
  margin: 0;
  border-radius: 20px;
  text-align: center;
  transform: translateX(50%)
} */

#container {
  background-color: rgba(255, 255, 255, 0.85);
  width: 50%;
  padding: 30px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  text-align: center;
}


.btn-light {
  margin-top: 20px;
  border: 1px solid #d3d3d3;
}

#round_title {
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.85);
  width: 50%;
  padding: 30px 30px 7.5px;
  transform: translateX(50%);
  border-radius: 20px;
}

#r1 {
  padding-top: 20px;

}

#header {
  text-align: center;
  font-family: "Harry P", serif;
  font-size: 50px;
  font-weight: normal;
}

#new_user_form {
  /* text-align: center; */
}

#quiz_form {
  padding-top: 30px;
  text-align: left;
  margin-left: 40px;
}

#quiz_form div {
  margin-left: 25px;
}

#submit_button {
  text-align: center;
  padding-bottom: 30px;
}



/* #quiz-form {
  background-color: rgba(255, 255, 255, 0.85);
  width: 50%;
  padding: 30px;
  margin: 0;
  position: absolute;
  /* top: 50%;
  left: 50%;
  /* -ms-transform: translate(-50%, -50%); */
  /* transform: translate(-50%, -50%); */
  /* border-radius: 20px; */
  /* text-align: center; */
/* } */

#intro {
  font-family: "New", serif;
  font-size: 40px;
  font-weight: normal;
  /* margin: 15% */
}

/* #title {
  /* color: green; */
  /* top: 0%; */
/* } */

#quiz_container {
  background-color: rgba(255, 255, 255, 0.85);
  width: 50%;
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 50px;
  /* left: 50%; */
  transform: translateX(50%);
  display: none;
  /* top: 25%;
  left: 25%; */
  /* transform: none; */
  border-radius: 20px;
  /* margin-top: 15%; */
  /* position: relative; */

}

/* .quiz_container {
  background-color: rgba(255, 255, 255, 0.85);
  width: 50%;
  padding: 30px;
  top: 50%;
  margin: 0;
  /* position: absolute; */
  /* top: 50%;
  left: 50%;
  /* -ms-transform: translate(-50%, -50%); */
  /* transform: translate(-50%, -50%); */
  /* border-radius: 20px; */
  /* text-align: center; */
/* } */

#gryffindor {
  background-image: url("./images/gryffindor.jpg");
  text-align: center;
  background-color: #A71E31;
}

#slytherin {
  background-image: url("./images/slytherin.jpg");
  text-align: center;
  background-color: #367B5F;
}

#hufflepuff {
  background-image: url("./images/hufflepuff.jpg");
  text-align: center;
  background-color: #D99E11;
}

#ravenclaw {
  background-image: url("./images/ravenclaw.jpg");
  text-align: center;
  background-color: #126692;
}

/* can I make the mouse a wand???? */
