body {
  background-image: url("./images/hp_crest.jpg");
  background-size: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  /* color: #BEC2CB; */
  /* remove color if sticking with black */
  color: #000;
}


form {
  margin-left: 22%;
  margin-right: 22%;
}

.form-row {
  margin: 2.5px;
}

.form-control {
  margin-bottom: -30px;
}

.welcome {
  background-color: rgba(255, 255, 255, 0.85);
  width: 50%;
  padding: 30px;
  margin: auto;
  text-align: center;
  /* how can I center this on the page???? */
  /* add rounded corners */
  margin-top: 15%;
  /* background-opacity: 0.5; */




}

.btn-light {
  margin-top: 20px;
  border: 1px solid #d3d3d3;
  /* border-color: #000; */
}

#header {
  text-align: center;
  font-family: "Harry P", serif;
  font-size: 50px;
  font-weight: normal;
}

#new_user_form {
  /* text-align: center; */
}

#intro {
  font-family: "New", serif;
  font-size: 40px;
  font-weight: normal;
}

#gryffindor {
  background-image: url("./images/gryffindor.jpg");
  /* background-size: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  text-align: center;
  /* do I need a background-color, or will image always show because it's saved in the file? */
  background-color: #7F0909;
  /* color: #FFC500; */
}

#slytherin {
  background-image: url("./images/slytherin.jpg");
  /* background-size: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  text-align: center;
  background-color: #0D6217;
  /* color: #AAAAAA; */
}

#hufflepuff {
  background-image: url("./images/hufflepuff.jpg");
  /* background-size: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  text-align: center;
  background-color: #EEE117;
  /* color: #000000; */
}

#ravenclaw {
  background-image: url("./images/ravenclaw.jpg");
  /* background-size: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  text-align: center;
  background-color: #000A90;
  /* color: #946B2D; */
}

/* can I make the mouse a wand???? */
